.button{
    padding:1rem 1.5rem;
    font-size:1.3rem;
    display:block;
    width:max-content;
    margin:2rem auto 0rem auto;
    border-radius:5px;
}

.success{
    color:white;
    background-color:rgb(87, 209, 87);
    border:none;
}