.container{
    position:absolute;
    top:0;
    width:100vw;
    /* border:1px solid white; */
    z-index:3;
    min-height:100vh;
    background-color: rgba(236, 137, 56, 0.906);
    padding:2rem;
    margin-left:-1000vw;
    display:none;
    transition:background-color 1s;
    transition:margin-left 0.5s;
}

.container a{
    display:block;
}

.container > ul{
    list-style:none;
}

.container > ul > a, .container > ul > li{
    padding:0.5rem 0rem;
    font-weight:500;
    font-size:1.5rem;
    border:1px solid rgba(224, 35, 241, 0.486);
    padding:1rem 0.8rem;
}

.ourServices > a{
    margin-left:2rem;
}

@media (max-width:756px){
    .container{
        display:block;
    }
}

.ourServices > a{
    border-top:none;
}