.main > h1{
    text-align:center;
    margin:1rem auto;
}

.backdrop{
    max-width:1200px;
    height:450px;
    border:1px solid black;
    margin:0rem auto 2rem auto;
    background-color:blueviolet;
}

@media (max-width:1205px){
    .backdrop{
        width:96%;
    }
}

@media (min-width:424px) and (max-width:598px){
    .backdrop{
        height:350px;
    }
}

@media (min-width:374px) and (max-width:424px){
    .backdrop{
        height:300px;
    }
}

@media (max-width:374px){
    .backdrop{
        height:250px;
    }
}
.main > section{
    width:70%;
    margin:2rem auto;
    text-align:center;
}

.main > section > h2{
    margin-bottom:1rem;
}

.main > section > ol{
    text-align:center;
    width:max-content;
    margin: 2rem auto 2rem auto;
}

.main > section > ol > li{
    width:max-content;
}