.container{
    padding:1rem 2rem;
}

.location > div{
    margin:1rem 0rem;
    text-align:center;
}

.location > div strong{
    font-weight:500;
}

.location > div > p:first-of-type{
    margin-bottom:0.5rem;
}

.links{
    list-style:none;
    margin-top:3rem;
    margin:3rem auto 0rem auto;
    /* border:1px solid red; */
    width:max-content;
}
.links a{
    color:rgb(13, 100, 231);
}
.links a:hover{
    text-decoration:underline;
}

.container > p{
    text-align:center;
    margin:3rem auto;
}


.links li{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:50px max-content;
    max-width:40vw;
    
}

.links li:not(:last-of-type){
    border-bottom:1px solid rgb(210, 210, 210);
}
.links li span{
    /* border:1px solid black; */
}

.links li span a{
    display:block;
    word-wrap: break-word;
    margin:0.2rem 0.1rem;
}